<!-- @@ templates/settings.html-->
 {% extends "base/index.html" %}
{% block content %}
<section class="page settings">
  <h2>⚙️ Configurações</h2>
  <form id="settings-form">
  <label>Expenses Alerts <input type="checkbox" id="alert-expenses" class="switch"></label>
  <label>Goals Alerts <input type="checkbox" id="alert-goals" class="switch"></label>
  <label>Dark Mode <input type="checkbox" id="dark-mode" class="switch"></label>
  <button type="submit" class="btn" style="margin-top:20px;">Save</button>
</form>

</section>
<script type="module" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}

