name: Fin App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

concurrency:
  group: finapp-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests (skips if no tests/)
        if: ${{ hashFiles('tests/**') != '' }}
        env:
            SECRET_KEY: ${{ secrets.SECRET_KEY }}
            FIREBASE_CERT: ${{ secrets.FIREBASE_CERT }}
            FIREBASE_DB_URL: ${{ secrets.FIREBASE_DB_URL }}
            FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
        run: |
            pytest -q    